<section id="confort-termico"></section>
<div class="section section-buttons">
  <div class="container">
    <div class="seccion" id="intro">
      <h2 class="seccion-title">{{ 'NOMBRESDESC.0' | translate }}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-lg-2 seccion-img" style="background-image: url('assets/img/confort-termico.jpg')"></div>
          <div class="col-lg-6 order-lg-1 seccion-text">
            <p class="lead text-justify">{{ 'NOMBRESDESC.1' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="preguntas">
      <div class="row item" *ngFor="let item of items; let i = index">
        <div class="col-sm-6">
          <label>
            {{i+1}} {{item.preg}} 
          <!--  {{ 'CT-ITEMS.' + i + '.preg' | translate }} -->
          </label>
        </div>
        <div class="col-sm-2">
          <div *ngFor="let op of item.opciones; let io = index">
            <div class="form-group">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="radios-{{i}}" (change)="onSelectionChange(i, op.feed, op.puntos, io)" [checked]="input[i] === io"> {{op.resp}}
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <img *ngIf="i==1" src="assets/img/preguntas/ct/2.jpg">
          <img *ngIf="i==4" src="assets/img/preguntas/ct/5.jpg">
          <img *ngIf="i==5" src="assets/img/preguntas/ct/6.jpg">
          <img *ngIf="i==7" src="assets/img/preguntas/ct/8.jpg">
          <img *ngIf="i==10" src="assets/img/preguntas/ct/11.jpg">
        </div>
        <br>
      </div>
    </div>
    <div class="row fondo-gris" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed" *ngIf="(feedbakPuntosText.length > 1)">{{ 'PDF.19' | translate }}</h4>
        <p class="item-feed">{{feedbakPuntosText}}</p> 
        <p class="item-feed">{{feedbakPuntosYearText}}</p>
        <h4 class="item-feed" *ngIf="(feedbackClean.length > 1)">{{ 'GENERAL.RECOM' | translate }}</h4>
        <p class="item-feed" *ngFor="let f of feedbackClean;">
          {{f}}
        </p>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-8">
        <!-- <button type="button" class="btn btn-primary btn-round">
          <i class="fa fa-arrow-right"></i>Guardar recomendaciones</button> -->
        <p>{{ 'GENERAL.CONFIRMA' | translate }}</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-round" (click)="generatePDF()">
          <i class="fa fa-save"></i>{{ 'GENERAL.CONSEJOS' | translate }}</button>
      </div>
    </div>
    <div class="row text-center" *ngIf="fauth.userDetails != null && showRecomendaciones">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.CONTINUACION' | translate }} </h4>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.MAS' | translate }} </h4>
        </div>
      </div>
  </div>
</div>