<section id="espacios"></section>
<div class="section section-buttons">
  <div class="container">
    <div class="seccion">
      <h2 class="seccion-title">{{ 'NOMBRESDESC.6' | translate }}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-lg-2 seccion-img" style="background-image: url('assets/img/calidad-espacios.jpg')"></div>
          <div class="col-lg-6 order-lg-1 seccion-text">
            <p class="lead text-justify">{{ 'NOMBRESDESC.7' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row item" *ngFor="let item of items; let i = index">
      <div class="col-sm-6">
        <label>
          {{item.preg}}
        </label>
      </div>
      <div class="col-sm-2" *ngIf="(item.tipoOpcion === false)">
        <div class="form-group has-success">
          <input type="number" size="5" class="form-control form-control-success" id="inputSuccess1" placeholder="" (change)="onInputChange(i, item.input)"
            [(ngModel)]="item.input" [value]="input[i]">
        </div>
      </div>
      <div class="col-sm-2" *ngIf="(item.tipoOpcion === true)">
        <div class="row" *ngFor="let op of item.opciones; let io = index">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="radios-{{i}}" (change)="onSelectionChange(i, op.feed, io)" [checked]="input[i] === io"> {{op.resp}}
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <img *ngIf="i==0" src="assets/img/preguntas/ce/1.jpg">
        <img *ngIf="i==3" src="assets/img/preguntas/ce/4.jpg">
        <img *ngIf="i==5" src="assets/img/preguntas/ce/6.jpg">
        <img *ngIf="i==7" src="assets/img/preguntas/ce/7.jpg">
        <img *ngIf="i==9" src="assets/img/preguntas/ce/8.jpg">
      </div>
      <br>
    </div>
    <div class="row fondo-gris" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed" *ngIf="(feedbackEspacio.length > 1)">{{ 'PDF.19' | translate }}</h4>
        <p class="item-feed">{{feedbackEspacio}}</p>
        <h4 class="item-feed" *ngIf="(feedback.length > 1 || feedbackYear )">{{ 'GENERAL.RECOM' | translate }}</h4>
        <p class="item-feed" *ngFor="let f of feedbackSuelto;">
          {{f}}
        </p>
        <p class="item-feed">{{feedbackYear}}</p>
        <p class="item-feed" *ngFor="let f of feedback;">
          {{f}}
        </p>
        <br>
        <a href="https://renhata.es/es/ciudadania/consejos-funcionalidad-vivienda" target="_blank">{{ 'LINKS.CE-FUNCVIV' | translate }}</a>
        <br>
        <a href="https://renhata.es/es/ciudadania/consejos-funcionalidad-bano-y-aseo" target="_blank">{{ 'LINKS.CE-FUNBA' | translate }}</a>
        <br>
        <a href="https://renhata.es/es/ciudadania/consejos-funcionalidad-cocina-y-lavadero" target="_blank">{{ 'LINKS.CE-FUNCO' | translate }}</a>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-8">
        <p>{{ 'GENERAL.CONFIRMA' | translate }}</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-round" (click)="generatePDF()">
          <i class="fa fa-save"></i>{{ 'GENERAL.CONSEJOS' | translate }}</button>
      </div>
    </div>
    <div class="row text-center" *ngIf="fauth.userDetails != null && showRecomendaciones">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.CONTINUACION' | translate }} </h4>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.MAS' | translate }} </h4>
        </div>
      </div>
  </div>
</div>