<section id="inclusivo"></section>
<div class="section section-buttons">
  <div class="container">
    <div class="seccion">
      <h2 class="seccion-title">{{ 'NOMBRESDESC.8' | translate }}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-lg-2 seccion-img" style="background-image: url('assets/img/adaptado.jpg')"></div>
          <div class="col-lg-6 order-lg-1 seccion-text">
            <p class="lead text-justify">{{ 'NOMBRESDESC.9' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="preguntas">
      <div class="item" *ngFor="let item of items; let i = index">
        <div class="row" *ngIf="item.visible">
          <div class="col-sm-12" *ngIf="i == 0">
            <p class="lead text-justify">{{ 'GENERAL.PREGEDIF' | translate }}</p>
          </div>
          <div class="col-sm-12" *ngIf="i == 19">
            <p class="lead text-justify">{{ 'GENERAL.PREGVIV' | translate }}</p>
          </div>
          <div class="col-sm-6">
            <label>
              {{item.preg}}
            </label>
          </div>
          <div class="col-sm-2" *ngIf="item.opciones.length > 0">
            <div *ngFor="let op of item.opciones; let io = index">
              <div class="form-group">
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios-{{i}}" (change)="onSelectionChange(i, op.resp, op.feed, io)" [checked]="input[i] === io"> {{op.resp}}
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="item.opciones.length == 0">
            <div class="form-group">
              <input type="number" size="2" min="0" max="99999" class="form-control form-control-success" id="inputSuccess1" placeholder=""
                [(ngModel)]="item.input" (change)="onSelectionChange(i, item.input, item.input, item.input)" [value]="input[i]">
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <img *ngIf="i==1" src="assets/img/preguntas/di/2.1.jpg">
            <img *ngIf="i==6" src="assets/img/preguntas/di/4.jpg">
            <img *ngIf="i==13" src="assets/img/preguntas/di/8.jpg">
            <img *ngIf="i==18" src="assets/img/preguntas/di/10.jpg">
            <img *ngIf="i==19" src="assets/img/preguntas/di/viv1.jpg">
            <img *ngIf="i==22" src="assets/img/preguntas/di/viv4.jpg">
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row fondo-gris" id="recomendaciones" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed">{{ 'GENERAL.RECOM' | translate }}</h4>
        <br>
        <h5 class="item-feed" *ngIf="(feedbackClean.length >= 1)">{{ 'GENERAL.RECOMIENDAESTUDIO' | translate }}</h5>
        <p class="item-feed" *ngFor="let f of feedbackClean;">
          {{f}}
        </p>
        <div *ngFor="let f of feedbackFijoComun;">
          <p *ngIf="f.link !== ''" class="item-feed">
            <a href="{{f.link}}" target="_blank">{{f.text}}</a>
          </p>
          <p *ngIf="f.link === ''" class="item-feed">
            {{f.text}}
          </p>
        </div>
        <div *ngFor="let f of feedbackFijoVivienda;">
          <p *ngIf="f.link !== ''" class="item-feed">
            <a href="{{f.link}}" target="_blank">{{f.text}}</a>
          </p>
          <p *ngIf="f.link === ''" class="item-feed">
            {{f.text}}
          </p>
        </div>
     <!--   <a href="https://renhata.es/es/ciudadania/consejos-accesibilidad-elementos-comunes" target="_blank">{{ 'LINKS.DI-AZC' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-accesibilidad-elementos-vivienda" target="_blank">{{ 'LINKS.DI-AV' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-accesibilidad-bano-y-aseo" target="_blank">{{ 'LINKS.DI-AB' | translate }}</a> -->
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-8">
        <p>{{ 'GENERAL.CONFIRMA' | translate }}</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-round" (click)="generatePDF()">
          <i class="fa fa-save"></i>{{ 'GENERAL.CONSEJOS' | translate }}</button>
      </div>
    </div>
    <div class="row text-center" *ngIf="fauth.userDetails != null && showRecomendaciones">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.CONTINUACION' | translate }} </h4>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.MAS' | translate }} </h4>
        </div>
      </div>
  </div>
</div>