<div class="main">
    <div class="section text-center">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <!-- <h2 class="title">Empezar</h2> -->
                    <h5 class="description">{{ 'LANDING.TXT' | translate }}</h5>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <a (click)="globalService.changeActiveSection('confort-termico')">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-thermometer-full faa-flash animated-hover"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">{{ 'NOMBRESDESC.0' | translate }}</h4>
                                <p class="description">{{ 'NOMBRESDESC.1' | translate }}</p>
                                <br>
                                <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('confort-termico')">
                                 {{ 'LANDING.COMENZAR' | translate }}</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a (click)="globalService.changeActiveSection('confort-acustico')">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-bullhorn faa-tada animated-hover"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">{{ 'NOMBRESDESC.2' | translate }}</h4>
                                <p class="description">{{ 'NOMBRESDESC.3' | translate }}</p>
                                <br>
                                <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('confort-acustico')">
                                 {{ 'LANDING.COMENZAR' | translate }}</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a (click)="globalService.changeActiveSection('medioambiente')">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-tree faa-vertical animated-hover"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">{{ 'NOMBRESDESC.4' | translate }}</h4>
                                <p class="description">{{ 'NOMBRESDESC.5' | translate }}</p>
                                <br>
                                <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('medioambiente')">
                                 {{ 'LANDING.COMENZAR' | translate }}</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a (click)="globalService.changeActiveSection('calidad-espacios')">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-bed faa-horizontal animated-hover"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">{{ 'NOMBRESDESC.6' | translate }}</h4>
                                <p class="description">{{ 'NOMBRESDESC.7' | translate }}</p>
                                <br>
                                <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('calidad-espacios')">
                                 {{ 'LANDING.COMENZAR' | translate }}</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a (click)="globalService.changeActiveSection('adaptado')">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="fa fa-wheelchair faa-wrench animated-hover"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">{{ 'NOMBRESDESC.8' | translate }}</h4>
                                <p class="description">{{ 'NOMBRESDESC.9' | translate }}</p>
                                <br>
                                <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('adaptado')">
                                 {{ 'LANDING.COMENZAR' | translate }}</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>