<app-cuestionario-inicio></app-cuestionario-inicio>
<app-landing *ngIf="globalService.activeSection=='home'"></app-landing>
<div id="activeSectionToScroll"></div>
<app-confort-termico *ngIf="globalService.activeSection=='confort-termico'"></app-confort-termico>
<app-confort-acustico *ngIf="globalService.activeSection=='confort-acustico'"></app-confort-acustico>
<app-medioambiente *ngIf="globalService.activeSection=='medioambiente'"></app-medioambiente>
<app-espacios *ngIf="globalService.activeSection=='calidad-espacios'"></app-espacios>
<app-adaptado *ngIf="globalService.activeSection=='adaptado'"></app-adaptado>