<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <!-- <a class="navbar-brand" href="#">Encuesta Alter ECO</a> -->
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Inicio" data-placement="bottom" (click)="globalService.changeActiveSection('home'); sidebarToggle() ">
                        <i class="fa fa-home"></i>
                        <p class="d-lg-none">{{ 'NAVBAR.INICIO' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ 'NOMBRESDESC.0' | translate }}" data-placement="bottom" (click)="globalService.changeActiveSection('confort-termico'); sidebarToggle() ">
                        <i class="fa fa-thermometer-full"></i>
                        <p class="d-lg-none">{{ 'NOMBRESDESC.0' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ 'NOMBRESDESC.2' | translate }}" data-placement="bottom" (click)="globalService.changeActiveSection('confort-acustico'); sidebarToggle() ">
                        <i class="fa fa-bullhorn"></i>
                        <p class="d-lg-none">{{ 'NOMBRESDESC.2' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ 'NOMBRESDESC.4' | translate }}" data-placement="bottom" (click)="globalService.changeActiveSection('medioambiente'); sidebarToggle() ">
                        <i class="fa fa-tree"></i>
                        <p class="d-lg-none">{{ 'NOMBRESDESC.4' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ 'NOMBRESDESC.6' | translate }}" data-placement="bottom" (click)="globalService.changeActiveSection('calidad-espacios'); sidebarToggle() ">
                        <i class="fa fa-bed"></i>
                        <p class="d-lg-none">{{ 'NOMBRESDESC.6' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ 'NOMBRESDESC.8' | translate }}" data-placement="bottom" (click)="globalService.changeActiveSection('adaptado'); sidebarToggle() ">
                        <i class="fa fa-wheelchair"></i>
                        <p class="d-lg-none">{{ 'NOMBRESDESC.8' | translate }}</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="fauth.userDetails">
                    <a class="nav-link btn-link"> {{fauth.userDetails.email}} </a>
                </li>
                <li class="nav-item" *ngIf="fauth.userDetails">
                    <a class="nav-link btn-link" (click)="logout()">{{ 'NAVBAR.SALIR' | translate }} </a>
                </li>
                <li class="nav-item" *ngIf="!fauth.userDetails">
                    <a class="nav-link btn-link" data-toggle="modal" data-target="#loginModal">{{ 'NAVBAR.ENTRAR' | translate }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-link" rel="tooltip" title="Castellano" data-placement="bottom" (click)="globalService.translate.use('es'); sidebarToggle()">
                        CAS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-link" rel="tooltip" title="Valencià" data-placement="bottom" (click)="globalService.translate.use('val'); sidebarToggle()">
                        VAL
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal   *ngIf="!fauth.userDetails" -->
<div class="modal fade" id="loginModal" #loginModal tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border-header">
                <h5 class="modal-title text-center" id="loginModalLabel">{{ 'MODAL.TXT' | translate }}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="nav-tabs-navigation" style="margin-bottom: 0px !important">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#entrar" role="tab">{{ 'MODAL.ENTRAR' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#registro" role="tab" click="c('close')">{{ 'MODAL.REGISTRO' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                    <div class="tab-pane active" id="entrar" role="tabpanel">
                        <form class="login-form">
                            <label>{{ 'MODAL.EMAIL' | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'MODAL.EMAIL' | translate }}" [(ngModel)]="email" name="email">
                            <label>{{ 'MODAL.PWD' | translate }}</label>
                            <input type="password" class="form-control" placeholder="{{ 'MODAL.PWD' | translate }}" [(ngModel)]="pwd" name="pwd">
                            <br>
                            <label class="error-message">{{fauth.errorLogin}}</label>
                            <button class="btn btn-primary btn-block btn-round" (click)="login()">{{ 'MODAL.ENTRAR' | translate }}</button>
                            <br>
                            <input type="checkbox" [checked]="acepto" (change)="acepto = !acepto">
                            <a href="http://www.five.es/proteccion-de-datos/" target="_blank"> {{ 'MODAL.ACEPTO' | translate }}</a>
                        </form>
                        <div class="forgot">
                            <a (click)="resetPassword()" class="btn btn-link btn-default">{{ 'MODAL.OLVIDO' | translate }}</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="registro" role="tabpanel">
                        <form class="register-form">
                            <label>{{ 'MODAL.EMAIL' | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'MODAL.EMAIL' | translate }}" [(ngModel)]="emailReg" name="emailReg">
                            <label>{{ 'MODAL.PWD' | translate }}</label>
                            <input type="password" class="form-control" placeholder="{{ 'MODAL.PWD' | translate }}" [(ngModel)]="pwdReg" name="pwdReg">
                            <label>{{ 'MODAL.PWDREP' | translate }}</label>
                            <input type="password" class="form-control" placeholder="{{ 'MODAL.PWDREP' | translate }}" [(ngModel)]="pwdRepReg" name="pwdRepReg">
                            <br>
                            <label class="error-message">{{fauth.errorRegister}}</label>
                            <button class="btn btn-primary btn-block btn-round" (click)="register()">{{ 'MODAL.REGISTRO' | translate }}</button>
                            <br>
                            <input type="checkbox" [checked]="aceptoReg" (change)="aceptoReg = !aceptoReg">
                            <a href="http://www.five.es/proteccion-de-datos/" target="_blank">{{ 'MODAL.ACEPTO' | translate }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal   *ngIf="!fauth.userDetails" -->
<div class="modal fade" id="registerModal" #registerModal tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-border-header">
                <h5 class="modal-title text-center" id="loginModalLabel">{{ 'MODAL.REGISTRO-TXT' | translate }}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                    <div class="tab-pane active" id="registro" role="tabpanel">
                        <form class="register-form">
                            <label>{{ 'MODAL.EMAIL' | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'MODAL.EMAIL' | translate }}" [(ngModel)]="emailReg" name="emailReg">
                            <label>{{ 'MODAL.PWD' | translate }}</label>
                            <input type="password" class="form-control" placeholder="{{ 'MODAL.PWD' | translate }}" [(ngModel)]="pwdReg" name="pwdReg">
                            <label>{{ 'MODAL.PWDREP' | translate }}</label>
                            <input type="password" class="form-control" placeholder="{{ 'MODAL.PWDREP' | translate }}" [(ngModel)]="pwdRepReg" name="pwdRepReg">
                            <br>
                            <label class="error-message">{{fauth.errorRegister}}</label>
                            <button class="btn btn-primary btn-block btn-round" (click)="register()">{{ 'MODAL.REGISTRO' | translate }}</button>
                            <br>
                            <input type="checkbox" [checked]="aceptoReg" (change)="aceptoReg = !aceptoReg">
                            <a href="http://www.five.es/proteccion-de-datos/" target="_blank"> {{ 'MODAL.ACEPTO' | translate }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>