<section id="inicio"></section>
<div id="alertFillIn"></div>
<div class="section section-buttons">
  <div class="container">
    <div class="tim-title">
      <br>
      <h2>{{ 'INICIO.DATOSB.TXT' | translate }}</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label>
            {{ 'INICIO.DATOSB.CP' | translate }}
        </label>
      </div>
      <div class="col-sm-2">
        <div class="form-group has-success">
          <input type="number" size="5" class="form-control form-control-success" id="inputSuccess1" placeholder=" {{ 'INICIO.DATOSB.CP' | translate }}" (change)="onCPChange()"
            [(ngModel)]="cp" value="{{fdb.basicData?.cp}}">
        </div>
      </div>
      <div class="col-sm-4">
        <label>{{ 'INICIO.DATOSB.YEAR' | translate }}</label>
      </div>
      <div class="col-sm-2">
        <div class="form-group has-success">
          <input type="number" size="4" min="1900" max="2019" class="form-control form-control-success" id="inputSuccess1" placeholder="{{ 'INICIO.DATOSB.YEAR-PH' | translate }}"
            [(ngModel)]="year" (change)="onYearChange()" value="{{fdb.basicData?.anyo}}">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <label>
            {{ 'INICIO.DATOSB.ADDRESS' | translate }}
        </label>
      </div>
      <div class="col-sm-4">
        <div class="form-group has-success">
          <input type="text" size="50" class="form-control form-control-success" id="inputSuccess1" placeholder="Dirección (opcional)"
            [(ngModel)]="address" value="{{fdb.basicData?.direccion}}" (change)="onAddressChange()">
        </div>
      </div>
      <div class="col-sm-3">
        <label>
            {{ 'INICIO.DATOSB.REFORMA' | translate }}
        </label>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="reformaRadios" [checked]="reforma == 'no'" id="no" value="{{ 'INICIO.DATOSB.R-NO' | translate }}" (change)="onSelectionReforma('no')"> {{ 'INICIO.DATOSB.R-NO' | translate }}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="reformaRadios" [checked]="reforma == 'si-reducida'" id="si-reducida" value="{{ 'INICIO.DATOSB.R-RED' | translate }}"
                (change)="onSelectionReforma('si-reducida')"> {{ 'INICIO.DATOSB.R-RED' | translate }}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check-radio">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="reformaRadios" [checked]="reforma == 'si-completa'" id="si-completa" value="{{ 'INICIO.DATOSB.R-COM' | translate }}"
                (change)="onSelectionReforma('si-completa')"> {{ 'INICIO.DATOSB.R-COM' | translate }}
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-7"></div>
      <div class="col-sm-3"><label>{{ 'INICIO.DATOSB.DATO-OBLIGATRIO' | translate }}</label></div>
      <br>
      <div class="row text-center" *ngIf="!fauth.userDetails">
        <div class="col-md-10">{{ 'INICIO.DATOSB.REGISTRO-TXT' | translate }}</div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#registerModal">
              {{ 'INICIO.DATOSB.REGISTRO-BTN' | translate }}
            <i class="fa fa-user"></i>
          </button>
        </div>
      </div>
      <div class="row text-center" *ngIf="globalService.activeSection!='home'">
        <div class="col-md-5">
          <button type="button" class="btn btn-primary btn-round" (click)="globalService.changeActiveSection('home', true)">
            <i class="fa fa-arrow-left"></i> {{ 'INICIO.DATOSB.VOLVER-BTN' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ngb-alert type="danger" [dismissible]="false" *ngIf="globalService.showAlert">
  <div class="container">
    <ng-container>
      <i class="fa fa-bell-o faa-ring animated"></i>
    </ng-container>
    {{ 'INICIO.DATOSB.DATO-OBLIGATRIO-ERROR' | translate }} <button type="button" name="button" class="close" (click)="globalService.showAlert = false">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
  </div>
</ngb-alert>