<section id="medioambiente"></section>
<div class="section section-buttons">
  <div class="container">
    <div class="seccion">
      <h2 class="seccion-title">{{ 'NOMBRESDESC.4' | translate }}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-lg-2 seccion-img" style="background-image: url('assets/img/medioambiente.jpg')"></div>
          <div class="col-lg-6 order-lg-1 seccion-text">
            <p class="lead text-justify">{{ 'NOMBRESDESC.5' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="preguntas">
      <div class="row item" *ngFor="let item of items; let i = index">
        <div class="col-sm-6">
          <label>
            {{i+1}} {{item.preg}}
          </label>
        </div>
        <div class="col-sm-2">
          <div *ngFor="let op of item.opciones; let io = index">
            <div class="form-group">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="radios-{{i}}" (change)="onSelectionChange(i, op.feed, io)" [checked]="input[i] === io"> {{op.resp}}
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <img *ngIf="i==0" src="assets/img/preguntas/pm/1.jpg">
          <img *ngIf="i==3" src="assets/img/preguntas/pm/4.jpg">
          <img *ngIf="i==4" src="assets/img/preguntas/pm/5.jpg">
          <img *ngIf="i==7" src="assets/img/preguntas/pm/8.jpg">
          <img *ngIf="i==8" src="assets/img/preguntas/pm/9.jpg">
        </div>
        <br>
      </div>
    </div>
    <div class="row fondo-gris" id="recomendaciones" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed" *ngIf="(feedback.length > 1 )">{{ 'GENERAL.RECOM' | translate }}</h4>
        <p class="item-feed" *ngFor="let f of feedbackClean;">
          {{f}}
          <a *ngIf="f == items[6].opciones[1].feed" href="{{items[6].opciones[1].link}}" target="_blank">{{ 'GENERAL.MASINFOPINCHA' | translate }}</a>
          <a *ngIf="f == feedbackExtra[7].text" href="{{feedbackExtra[7].link}}" target="_blank">{{ 'GENERAL.MASINFO' | translate }}</a>
        </p>
        <br>
        <a href="https://renhata.es/es/ciudadania/consejos-ahorro-de-energia-instalaciones-termicas" target="_blank">{{ 'LINKS.PM-ENERGIA' | translate }}</a> <br>
        <a href="http://xsapps-api.xtremesoft.net/media/ive/content/posts/renhata/consejos/fichas/AHE/RF6_AislandoFPinterior_r.pdf" target="_blank">{{ 'LINKS.PM-AISLAMIENTO' | translate }}</a> <br>
        <a href="http://xsapps-api.xtremesoft.net/media/ive/content/posts/renhata/consejos/fichas/AHE/RF2_AislandoCubiertaInterior_r.pdf" target="_blank">{{ 'LINKS.PM-CUBIERTA' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-ahorro-de-energia-ventanas" target="_blank">{{ 'LINKS.PM-VENTANAS' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-ahorro-de-energia-iluminacion-y-electricidad" target="_blank">{{ 'LINKS.PM-ILUMINACION' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-sostenibilidad-cocina-y-lavadero" target="_blank">{{ 'LINKS.PM-AGUA' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-sostenibilidad-edificio" target="_blank">{{ 'LINKS.PM-SOSTENIBILIDAD' | translate }}</a> <br>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-8">
        <p>{{ 'GENERAL.CONFIRMA' | translate }}</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-round" (click)="generatePDF()">
          <i class="fa fa-save"></i>{{ 'GENERAL.CONSEJOS' | translate }}</button>
      </div>
    </div>
    <div class="row text-center" *ngIf="fauth.userDetails != null && showRecomendaciones">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.CONTINUACION' | translate }} </h4>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <h4 class="item-feed"> {{ 'GENERAL.MAS' | translate }} </h4>
        </div>
      </div>
  </div>
</div>