<section id="confort-acustico"></section>
<div class="section section-buttons">
  <div class="container">
    <div class="seccion">
      <h2 class="seccion-title">{{ 'NOMBRESDESC.2' | translate }}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-lg-2 seccion-img" style="background-image: url('assets/img/confort-acustico.jpg')"></div>
          <div class="col-lg-6 order-lg-1 seccion-text">
            <p class="lead text-justify">{{ 'NOMBRESDESC.3' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row item" *ngFor="let item of items; let i = index">
      <div class="col-sm-4">
        <label>
          {{i+1}} {{item.preg}}
        </label>
      </div>
      <div class="col-sm-4">
        <div class="row" *ngFor="let op of item.opciones; let io = index">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="radios-{{i}}" (change)="onSelectionChange(i, op.feed, op.puntos, io)"
                    [checked]="input[i] === io"> {{op.resp}}
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <img *ngIf="i==0" src="assets/img/preguntas/ca/1.jpg">
        <img *ngIf="i==1" src="assets/img/preguntas/ca/2.jpg">
      </div>
      <br>
    </div>
    <div class="row fondo-gris" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed" *ngIf="(feedback.length > 1 || feedbackYear )">{{ 'PDF.19' | translate }}</h4>
        <p class="item-feed">{{feedbackYear}}</p>
        <p class="item-feed">{{feedbackPuntos}}</p>
        <h4 class="item-feed" *ngIf="(feedback.length > 1 )">{{ 'GENERAL.RECOM' | translate }}</h4>
        <p class="item-feed" *ngFor="let f of feedback;">
          {{f}}
        </p>
        <br>
        <a href="https://renhata.es/es/ciudadania/consejos-confort-acustico-ventanas" target="_blank">{{
          'LINKS.CA-VENTANAS' | translate }}</a> <br>
        <a href="https://renhata.es/es/ciudadania/consejos-confort-acustico-edificio" target="_blank">{{
          'LINKS.CA-EDIFICIO' | translate }}</a>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-8">
        <!-- <button type="button" class="btn btn-primary btn-round">
          <i class="fa fa-arrow-right"></i>Guardar recomendaciones</button> -->
        <p>{{ 'GENERAL.CONFIRMA' | translate }}</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-round" (click)="generatePDF()">
          <i class="fa fa-save"></i>{{ 'GENERAL.CONSEJOS' | translate }}</button>
      </div>
    </div>
    <div class="row text-center" *ngIf="fauth.userDetails != null && showRecomendaciones">
      <div class="col-md-12">
        <h4 class="item-feed"> {{ 'GENERAL.CONTINUACION' | translate }} </h4>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-12">
        <h4 class="item-feed"> {{ 'GENERAL.MAS' | translate }} </h4>
      </div>
    </div>
  </div>
</div>