<ngb-alert type="danger" [dismissible]="false" *ngIf="globalService.showAlertLogin">
    <div class="container">
        <ng-container>
            <i class="fa fa-bell-o faa-ring animated"></i>
        </ng-container>
        {{ 'FOOTER.INFO' | translate }}
        <button type="button" name="button" class="close" (click)="globalService.showAlertLogin = false">
            <i class="nc-icon nc-simple-remove"></i>
        </button>
    </div>
</ngb-alert>
<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="http://www.five.es" target="_blank">IVE</a>
                    </li>
                    <li>
                        <a href="https://alter-eco.interreg-med.eu/" target="_blank">ALTER ECO</a>
                    </li>
                    <li>
                        <a href="tel:+34961207531" target="_blank">{{ 'FOOTER.TEL' | translate }}</a>
                    </li>
                    <li>
                        <a href="mailto:lortega@five.es?Subject=Contacto web recomendaciones vivienda turística" target="_top">{{ 'FOOTER.EMAIL' | translate }}</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>